/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}


body{
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	
	margin: 0;
	background-color: white;
}

main{

	color: grey;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
	
}
img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin: 5px 0 15px 0;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
	
}
.main-nav a {
	color:black;
	font-size: .95em;
	text-transform: uppercase;
	font-weight: bold;
}
.main-nav a:hover {
	color: grey;
}

/* ---- Layout Containers ---- */






.main-footer {
	text-align: center;
}


.col {
	padding-right: 1em;
	padding-left: 1em;
}
.main-footer {
	
	padding: 2em 0;
	margin-top: 30px;
	background-color: rgb(248, 247, 247);
	margin: 0;
}

.main-footer a {
	color:black;


}

#center{

	text-align: center;
	color:black;
	}

/* ---- Page Elements ---- */


.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}

p .main-footer{

	font-weight: bold;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 321px) {

	h4,p{

		text-align: center;
	}

	
}


@media (min-width: 600px) {

	.main-header,
	.main-nav,
	.row, .main-footer, .footer-inner {
		display: flex;
	}

	#center{

		text-align: center;
		color:black;
		}

	.main-header, .main-footer, .footer-inner {
		flex-direction: column;
		align-items: center;
	}


	.col {
		flex: 1 50%;
	}

	.row {
		flex-wrap: wrap;
	}

	.main-header,
	.row,
  .main-footer, .footer-inner{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}

}

@media (min-width: 900px) {

	.main-header {
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	.main-footer, .footer-inner {
	justify-content: space-between;

	}

	#center{

	text-align: center;
	color:black;
	}
	
	.col {
		flex-basis: 0;
	}

	
}